# Workflow for periodically updating XML and HTML sitemaps to match those generated in the metadata-processing repo

name: CI - Pull Sitemap Updates
run-name: Pull Sitemap Updates

on:
  schedule:
    # Run weekly, the day after the run is triggered in the metadata-processing repo to update sitemaps
    - cron: "00 0 2,9,16,23 * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pull-sitemap-updates:
    name: Pull Sitemap Updates
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v5

      - name: Checkout the metadata-processing repo
        uses: actions/checkout@v5
        with:
          repository: psdi-uk/metadata-processing
          token: ${{ secrets.MP_CHECKOUT_TOKEN }}
          path: tmp/metadata-processing

      - name: Copy the XML and HTML sitemaps
        run: cp tmp/metadata-processing/*.xml tmp/metadata-processing/*.html sitemap/
